/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
/* -------
    Red vendor area 
     
------------*/
.red-vendor{
    background-image: url(./images/red-bg.jpg);
    padding: 30px 0 ;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
div .button-footer{
    border: 1px solid #fff;
}
div .button-footer:hover{
    border: 1px solid #fff;
}
